section.hero.about
    background: 
        image: url(../images/hero-section/about.jpg)
        
.contents-about
        

    map
        area 
            cursor: pointer !important

    .map-right

        p.info
            font: 
                size: 24px
                color: $black-dark

            b
                font-weight: 400

                &.blue
                    color: $blue-light
                &.green
                    color: $green-light


        .map-info
            padding: 22px 0
            display: flex
            align-items: center
            justify-content: center
            flex-direction: column

            span.title
                display: block
                padding: 6px 16px
                border: 2px solid $blue-light
                text-transform: uppercase
                background-color: transparent
                color: $black-light
                font:
                    size: 22px
                    weight: 900 

                transition: all 0.3s ease-in-out

                &:hover
                    background-color: $blue-light
                    color: $white-light

            span.sub
                display: block
                width: 100%
                padding: 10px 0
                text-transform: uppercase
                text-align: center
                font: 
                    size: 16px
                    color: $black-light


            .stats
                display: flex
                align-items: center
                justify-content: space-between
                flex-direction: row
                
                @media( max-width: 960px )
                    flex-direction: column

                .item
                    display: flex
                    align-items: center
                    justify-content: center
                    flex-direction: column
                    text-align: center
                    width: 180px

                    img
                        padding: 0 0 20px 0

                    span
                        display: block
                        font:
                            size: 28px
                            weight: 700

                    strong
                        display: block
                        text-transform: uppercase
                        font:
                            size: 18px
                            weight: 900
                            
                            
    p.headline
        font: 
            size: 18px
            weight: 400
            
    .about-box
        width: 100%
        
        .box
            display: flex
            align-items: center
            justify-content: center
            flex-direction: row
            
            @media( max-width: 960px )
                flex-direction: column
            
            .box-title
                background:
                    color: $blue-light
                color: $white-light
                padding: 25px 20px 60px 20px
                width: 50%
                order: 1
                height: 100%
                
                &:not(.second)
                    text-align: right
                
                &.second
                    order: 3 !important
                
                    @media( max-width: 960px )
                        order: 1 !important
                    
                @media( max-width: 960px )
                    width: 100%
                
                h2
                    font:
                        size: 36px
                        weight: 100
            .box-text
                height: 100%
                width: 50%
                order: 2
                
                @media( max-width: 960px )
                    width: 100%
                
                span
                    display: block
                    width: 80px
                    height: 4px
                    background-color: $blue-light
                    margin: 0 20px
                    clear: both
                    
                    &.right
                        float: right
                    &.left
                        float: left
                
                p
                    padding: 25px 20px
                    float: left
                    clear: both
                    display: block
                    font:
                        size: 16px
                
                        
    .about-icon
        width: 100%
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        text-align: center
        padding: 20px 0
        
        .icon
            display: flex
            align-items: center
            justify-content: center
            width: 130px
            height: 130px
            border: solid 4px $blue-light
            border-radius: 50%
            position: relative
            
            &:before , &:after
                content: ""
                position: absolute
                width: 50px
                height: 2px
                top: 50%
                margin-top: -1px
                background: $blue-light
            
            &:before
                left: -50px
            
            &:after
                right: -50px
            
        .title
            padding: 10px 0
            min-height: 65px
            font: 
                size: 16px
        .text
            text-align: left
            font: 
                size: 14px
        
    a.next
        position: absolute
        right: -50px
        top: 50%
        display: block
        color: $blue-light
        text-decoration: none
        transition: all 0.3s ease-in-out
        cursor: pointer
        font:
            size: 80px
            weight: 300

        &:active, &:link, &:visited
            text-decoration: none
            color: $blue-light

        &:hover
            color: $blue-dark
                
                
    .carousel-item
        width: 100%
        height: auto
        position: relative
        
        h2.name
            font-weight: 300
            padding: 0 0 20px 0
            margin: 0
            
            strong
                color: $blue-light
                padding: 0 14px
                font-weight: 900
                
        p
            font-size: 14px
            padding: 6px 0