.footer-container
    
    ul
        list-style: none
        display: flex
        justify-content: flex-start
        flex-direction: column
        text-align: left
        
        li
            padding: 10px 0
            
            span
                width: 100%                
                display: flex
                justify-content: space-between
                align-items: center
                flex-direction: row
                text-align: left
                
                i
                    font-size: 20px
                    color: $blue-light
                    padding-right: 10px
                    display: block
                    margin-top: -10px
                    
                    &.ico
                        width: 20px
                        height: 20px
                        
                        &.ico-hands
                            background: 
                                image: url('../images/icons/icon-footer-01.png')
                                size: cover
                                repeat: no-repeat
                                
                        &.ico-pc
                            background: 
                                image: url('../images/icons/icon-footer-03.png')
                                size: cover
                                repeat: no-repeat
                p
                    display: block
                    width: 90%
                    
                &.subtitle
                    font:
                        size: 14px
                        weight: 900
                    color: $blue-light
                
            small
                width: 100%
                display: block
                
            p
                letter-spacing: inherit
                font-size: 14px
                
                
    form.newsletter
        
        input
            width: 100%
            height: 50px
            border: 2px solid $blue-light
            margin-bottom: 15px
            font-size: 22px
            padding-left: 8px
            background-color: transparent
            color: $white-light
            
        button
            border-radius: 0px
            padding: 5px 20px
            color: $white-light
            font-size: 20px

footer
    background-color: $black-dark
    width: 100%
    text-align: center
    font-size: 14px
    color: $white-light
    padding: 10px 0px
    
    .container
        display: flex
        align-items: center
        justify-content: space-between
        flex-direction: row
        
        @media(max-width: 640px)
            flex-direction: column