section
    
    &.hero
        width: 100%
        height: 600px
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
        overflow: hidden
        background:
            repeat: no-repeat
            size: cover
            position: 0 0
            attachment: fixed

        transition-timing-function: linear
        
        span.subtitle
            font-size: 30px            
            color: $white-light            
            text-transform: uppercase
            display: block
            margin: 0
            padding: 0
            
        h2.title
            font-size: 72px
            color: $white-light
            line-height: 90px
            text-transform: uppercase
            margin: 0
            padding: 0

            @media( max-width: 640px )
                font-size: 62px
    
    
    padding: 20px 10px
    
    .title
        font-size: 52px
        
        &.blue
            color: $blue-light
            
        &.thin
            font-weight: 100
    
    .handwriting
        font-family: Satisfy
        
    .uppercase
        text-transform: uppercase
        
    .showoff
        font-size: 80px
        
        &.thin
            font-weight: 100
            
    .scale
        transition: all 0.3s ease-in-out
        transform: scale(1)
        
        &:hover
            transform: scale(1.2)
            transition: all 0.3s ease-in-out
            
    .font-aqua
        color: $blue-light
    .font-blue
        color: $blue-dark
    .font-dark
        color: $black-light
    .font-white
        color: $white-light
    
    &.default
        background-color: $white-light
        color: $black-light
        
    &.aqua
        background-color: $blue-light
        color: $white-light
        
    &.blue
        background-color: $blue-dark
        color: $white-light
        
        span,p
            color: $white-light
            
    &.dark
        background-color: $black-light
        color: $white-light
        
        span,p
            color: $white-light
        
        
    p
        color: $black-light
        font-size: 12px
        letter-spacing: 1px
        
        &.subtitle
            font-size: 14px
            text-transform: uppercase
            padding-top: 7px
            letter-spacing: 1.5px
            
        &.description
            padding-top: 7px
            
        @media(min-width: 960px)
            &.subtitle,
            &.description
                padding-left: 100px
                padding-right: 100px
            
    span 
        color: $black-light
        font-size: 14px
        
        &.subtitle
            font-size: 18px
            text-transform: uppercase
            padding-top: 7px
            letter-spacing: 1.5px
        
        
    hr
        height: 5px
        border: 0px
        
        &.small
            width: 90px
            
        &.medium
            width: 180px
        &.large
            width: 270px
            
        &.blue
            background-color: $blue-light
        &.dark
            background-color: $black-light
        &.light
            background-color: $white-light
            
            
    .xs-height-padding
        padding: 10px 0
        
    .sm-height-padding
        padding: 15px 0
        
    .md-height-padding
        padding: 20px 0
        
    .lg-height-padding
        padding: 25px 0