.slides
    z-index: 0
    position: relative
    width: 100vw
    height: 100vh
    overflow: hidden
    
    ul.slides-container
        width: 100%
        height: 100%
        position: relative
        padding: 0
        margin: 0
        list-style: none
        
        li
            height: 100vh
            width: 100%
            position: relative
            background:
                position: center center
                size: cover
                repeat: no-repeat
                
            .box
                display: flex
                align-items: center
                justify-content: center
                flex-direction: column
                position: absolute
                bottom: 15%
                right: 0
                background-color: rgba(50,66,87,0.60)
                padding: 10px 20px
                width: 50%
                
                @media( max-width: 960px )
                    word-wrap: break-word
                    word-break: keep-all
                    width: 100%
                    bottom: 0
                    
                .wrapper                    
                    width: calc( 100% - 70px )
                
                    h2
                        font-size: responsive 40px 70px
                        padding: 10px 0
                        color: $white-light
                        strong,b
                            font-weight: bold
                        text-align: left

                    span
                        display: inline-block
                        padding: 10px 0
                        color: $white-light
                        font:
                            size: 16px
                            weight: bold
                        text-align: justify
                
            .container
                display: flex
                align-items: center
                justify-content: center
                width: 100%
                height: 100%
                padding: 0 16px
                margin: 0
                
                button.btn-lead
                    background-color: transparent
                    font-family: Raleway
                    border: 2px solid $white-light
                    color: $white-light
                    font-size: 26px
                    padding: 10px 40px
                    transition: all 0.3s ease-in-out
                    border-radius: 0
                    text-transform: uppercase
                    text-align: center

                    &:hover
                        background-color: $white-light
                        color: $black-light

                    &.dark
                        border: 2px solid $black-light
                        color: $black-light

                        &:hover
                            background-color: $black-light
                            color: $white-light
                
                
                h2
                    font-size: responsive 50px 70px
                    padding: 10px 0
                    color: $white-light
                    strong,b
                        font-weight: bold
                
                span
                    display: inline-block
                    padding: 10px 0
                    color: $white-light
                    
                h2,span
                    &.dark
                        color: $black-dark
                
nav.slides-navigation
    a
        cursor: pointer
        i
            font-size: 60px