$primary: #0b6452
$secondary: #2a3d5b
$tertiary: #33a89b

$active-link: #127292

$black-light: #242424
$black-dark: #201f1f

$shade-light: #99abb7
$shade-dark: #7b7b79

$white-light: #fafafa
$white-dark: #d5d5d5
