@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,300,700)
@import url(http://fonts.googleapis.com/css?family=Satisfy)
@import 'bootstrap'
@import 'font_awesome'
@import 'variables'
@import 'animate'
@import 'superslides'
@import 'header'
@import 'sections'
@import 'sections-social'
@import 'sections-footer'
@import 'slider'
@import 'about'
@import 'contact'
@import 'portfolio'
@import 'portfolio-info'
@import 'obra'
@import 'investimentos'
@import 'owl.carousel'
@import 'owl.theme'
@import 'owl.transitions'

@viewport
    zoom: 1.0
    width: device-width

body,html
    font-family: Raleway
    margin: 0
    padding: 0
    overflow-x: hidden
    
button.btn-lead
    background-color: transparent
    font-family: Raleway
    border: 2px solid $white-light
    color: $white-light
    font-size: 26px
    padding: 10px 40px
    transition: all 0.3s ease-in-out
    border-radius: 0
    text-transform: uppercase
    text-align: center

    &:hover
        background-color: $white-light
        color: $black-light
    
    &.inverted
        border: 2px solid $black-light
        color: $black-light
        
        &:hover
            background-color: $black-light
            color: $white-light
        
.relative
    position: relative
        
        
.scroll-top
    position: fixed
    right: 10px
    bottom: 10px
    width: 48px
    height: 48px
    background-color: $white-light
    text-align: center
    display: flex
    justify-content: center
    align-content: center
    border-radius: 50%
    transition: all 0.4s ease-in-out
    opacity: 0
    box-shadow: 0px 2px 3px $black-dark
    
    a
        display: block
        text-decoration: none
        color: $black-dark
        font-size: 30px
        cursor: pointer
        
    &:hover
        background-color: $blue-light
        animation: pulse 0.6s infinite 
        
        a
            color: $white-light