include mixins

doctype html
html
    head
    
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="Painel Administrativo")
        meta(name="author" content="Hudson Nicoletti")
    
        title  Metacon
        
        link(rel="stylesheet", href="assets/styles/main.css")
        link(rel="shortcut icon" href="/favicon.ico")
    body
            
        header.dark-nav
            .container
                .row
                    .col-md-12

                        .search-container
                                input(type="text" placeholder="Pesquisar:")
                                i.glyphicon.glyphicon-remove.search-toggle

                        .logo-container
                            .logo
                            
                        .nav-toggle.visible-md.visible-sm.visible-xs.menu-toggle
                            i.glyphicon.glyphicon-menu-hamburger

                        .menu-container
                            .visible-lg
                                +nav
                    
                    .menu-container.mobile
                        +nav("mobile")
                
        section.hero.contact 
            
        section.default.map-wrap              
            #googleMap
            
        section.default.contents-contact              
            .container
                .row
                    .col-md-12.text-center
                        h4.title.blue.thin Entre em contato para que juntos possamos realizar sonhos!
                .row
                    .col-md-8
                        .contact-form
                            form(action="",method="post")
                                .row
                                    .col-md-6
                                        .form-group
                                            input(type="text",id="contactName")
                                            label(for="name") Nome
                                    .col-md-6
                                        .form-group
                                            input(type="text",id="contactPhone")
                                            label(for="name") Telefone
                                    .col-md-12
                                        .form-group
                                            input(type="text",id="contactEmail")
                                            label(for="") E-Mail
                                    .col-md-12
                                        .form-group
                                            input(type="text",id="contactSubject")
                                            label(for="") Assunto
                                    .col-md-12
                                        .form-group
                                            textarea(type="text",id="contactMessage")
                                            label(for="") Mensagem
                                    .col-md-12
                                        button(type="submit") enviar
                    .col-md-4
                        .contact-info 
                            h3.subtitle.uppercase Dados para contato
                            p 
                                | Rua Anita Garibaldi, 25 | Centro CEP: 86020-500 | Londrina - PR
                            p 
                                | contato@metacon.com.br
                            p 
                                | 43 3377.1600
                        
        section.grey
            .container
                .row.text-center
                    .col-md-12.social-container
                        span.subtitle Conecte-se com a gente:
                        ul
                            li: a: i.fa.fa-google-plus
                            li: a: i.fa.fa-linkedin-square
                            li: a: i.fa.fa-pinterest
                            li: a: i.fa.fa-twitter
                            li: a: i.fa.fa-facebook
                            
        +footer()
            
        .scroll-top
            a
                i.fa.fa-chevron-up
                
        a(data-scroll-goto="0").hidden
            
                    
        script(type="text/javascript" src="assets/scripts/jquery-1.11.3.min.js")
        script(type="text/javascript" src="assets/scripts/jquery.easing.1.3.js")
        script(type="text/javascript" src="assets/scripts/jquery.animate-enhanced.min.js")
        script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js")
        script(type="text/javascript" src="assets/scripts/scrollIt.min.js")
        script(type="text/javascript" src="assets/scripts/jquery.scrollSpeed.js")
        script(type="text/javascript" src="assets/scripts/owl.carousel.min.js")
        script(type="text/javascript" src="assets/scripts/functions.js")