include mixins

doctype html
html
    head
    
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="Painel Administrativo")
        meta(name="author" content="Hudson Nicoletti")
    
        title  Metacon
        
        link(rel="stylesheet", href="assets/styles/main.css")
        link(rel="shortcut icon" href="/favicon.ico")
    body
            
        header(data-scroll-index="0")
            .container
                .row
                    .col-md-12

                        .search-container
                                input(type="text" placeholder="Pesquisar:")
                                i.glyphicon.glyphicon-remove.search-toggle

                        .logo-container
                            .logo
                            
                        .nav-toggle.visible-md.visible-sm.visible-xs.menu-toggle
                            i.glyphicon.glyphicon-menu-hamburger

                        .menu-container
                            .visible-lg
                                +nav
                    
                    .menu-container.mobile
                        +nav("mobile")
                
        .slides
             ul.slides-container
                 li
                     img(src="assets/images/slider/1.jpg", alt="")
                     .container
                         .row
                             .col-xs-12
                                 h2  Lorem ipsum dolor sit amet
                                 span  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae repudiandae possimus, ea, quasi natus beatae assumenda aut necessitatibus blanditiis corporis iusto doloribus quod at adipisci atque
                                 br
                                 button.btn.btn-lead Nossas Obras
                 li
                     img(src="assets/images/slider/4.jpg", alt="")
                     .container
                         .row
                             .col-xs-12
                                 h2  Lorem ipsum dolor sit amet
                                 span  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae repudiandae possimus, ea, quasi natus beatae assumenda aut necessitatibus blanditiis corporis iusto doloribus quod at adipisci atque
                                 br
                                 button.btn.btn-lead.inverted Nossas Obras

            nav.slides-navigation.hidden
                a.next: i.glyphicon.glyphicon-chevron-right
                a.prev: i.glyphicon.glyphicon-chevron-left
                
                
        section.default(data-scroll-index="1")
            .container
                .row
                    .col-xs-12.text-center

                        h1.title.thin Porque escolher a Metacon ?
                        hr.small.blue
                        p.subtitle  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae corporis, vero veritatis suscipit nesciunt laborum, quia sint expedita adipisci.
                        p.description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim nemo minima maiores aspernatur facilis nisi temporibus quo architecto aliquid, repudiandae nam molestiae provident, rerum. Neque, mollitia velit ea debitis autem!
        
        section.blue(data-scroll-index="2")
            .container
                .row.text-center
                    .col-md-3.col-sm-6.col-xs-12.sm-height-padding.scale
                        img(src="assets/images/icons/icon-section-01.png", alt="").icon
                        h2.showoff.thin 200
                        span.subtitle obras entregues
                    .col-md-3.col-sm-6.col-xs-12.sm-height-padding.scale
                        img(src="assets/images/icons/icon-section-02.png", alt="").icon
                        h2.showoff.thin 21
                        span.subtitle obras em andamento
                    .col-md-3.col-sm-6.col-xs-12.sm-height-padding.scale
                        img(src="assets/images/icons/icon-section-03.png", alt="").icon
                        h2.showoff.thin 50
                        span.subtitle cidades atendidas
                    .col-md-3.col-sm-6.col-xs-12.sm-height-padding.scale
                        img(src="assets/images/icons/icon-section-04.png", alt="").icon
                        h2.showoff.thin 50000
                        span.subtitle m² contruidos
                    
                        
        section.aqua(data-scroll-index="6")
            .container
                .row.text-center
                    .col-md-12.social-container
                        span.subtitle Conecte-se com a gente:
                        ul
                            li: a: i.fa.fa-google-plus
                            li: a: i.fa.fa-linkedin-square
                            li: a: i.fa.fa-pinterest
                            li: a: i.fa.fa-twitter
                            li: a: i.fa.fa-facebook
                            
        +footer()
            
        .scroll-top
            a
                i.fa.fa-chevron-up
                
        a(data-scroll-goto="0").hidden
            
                    
        script(type="text/javascript" src="assets/scripts/jquery-1.11.3.min.js")
        script(type="text/javascript" src="assets/scripts/jquery.easing.1.3.js")
        script(type="text/javascript" src="assets/scripts/jquery.animate-enhanced.min.js")
        script(type="text/javascript" src="assets/scripts/jquery.superslides.min.js")
        script(type="text/javascript" src="assets/scripts/scrollIt.min.js")        
        script(type="text/javascript" src="assets/scripts/jquery.scrollSpeed.js")
        script(type="text/javascript" src="assets/scripts/functions.js")