include mixins

doctype html
html
    head
    
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="description" content="Painel Administrativo")
        meta(name="author" content="Hudson Nicoletti")
    
        title  Metacon
        
        link(rel="stylesheet", href="assets/styles/main.css")
        link(rel="shortcut icon" href="/favicon.ico")
    body
            
        header
            .container
                .row
                    .col-md-12

                        .search-container
                                input(type="text" placeholder="Pesquisar:")
                                i.glyphicon.glyphicon-remove.search-toggle

                        .logo-container
                            .logo
                            
                        .nav-toggle.visible-md.visible-sm.visible-xs.menu-toggle
                            i.glyphicon.glyphicon-menu-hamburger

                        .menu-container
                            .visible-lg
                                +nav
                    
                    .menu-container.mobile
                        +nav("mobile")
                
        section.hero.portfolio-info
            h2.title nome da obra
            hr.small.blue
            span.subtitle londrina - pr
            
        section.aqua.contents-portfolio-info
            .container
                .row.text-center
                    .col-md-12
                        ul.portfolio-nav
                            li(data-tab="1"): a Ficha Técnica
                            span
                            li(data-tab="2"): a localização
                            span
                            li(data-tab="3"): a Imagens
                            span
                            li(data-tab="4"): a Planta
            
        section.default.contents-portfolio-info
            .row
                .col-md-12
                    .portfolio-panes
                        .pane(data-pane="1")
                            .container
                                .row
                                    .col-md-4
                                        figure
                                            img(src="assets/images/portfolio-info/01.jpg", class="img-responsive")
                                    .col-md-8.text-infos
                                        h2.block-title DIMENSÃO E COMPOSIÇÃO
                                        span  Área total : 15.655,31 m2.

                                        h2.block-title TORRE RESIDENCIAL:

                                        ul.info-list
                                            li Acesso Privativo – Térreo;
                                            li Pavimento Lazer: Sala de Jogos; Fitness; Salão Gourmet; Piscina; Espaço Kids, Lazer Descoberto.
                                            li 16 Pavimentos Tipo;
                                            li 80 Apartamentos de 02 Dormitórios (suíte) compostos por: Sala de Estar / Jantar, Varanda, Dormitório 01 (Suíte), Dormitório 02, Bwc Social, Cozinha, Área de Serviço, com área privativa de 65,00m2, e área total de 120,00m2 cada; com 01 vaga de garagem;


                                        h2.block-title TORRE COMERCIAL

                                        ul.info-list
                                            li Acesso Privativo - Térreo
                                            li Torre comercial - 10 pavimentos
                                            li 01 Loja Térrea, com área privativa de 385m2, área total de 605,00m2 e 08 vagas de garagem, e possibilidade de mezanino com 385,00m2
                                            li 40 Salas | Escritórios, com área privativa média de 50 m2 cada, e área total média de 96,00m2, e 01 vaga de garagem cada;
                                            li Pavimento de Apoio, com 03 Salas de Reuniões e Área Administrativa.

                        .pane(data-pane="2")
                            .portfolio-mapwrapper
                                #portfolioMap(data-lat="-23.3178821",data-lng="-51.1645811",data-title="title")
                                span.overlay
                                    h2 Av. Jorge Casoni, esquina com a Rua Norman Prochet, Londrina, PR, em um terreno de 2.364,06 m2.
                        .pane(data-pane="3")
                            p pane 03
                        .pane(data-pane="4")
                            p pane 04
                        
        section.aqua
            .container
                .row.text-center
                    .col-md-12.social-container
                        span.subtitle Conecte-se com a gente:
                        ul
                            li: a: i.fa.fa-google-plus
                            li: a: i.fa.fa-linkedin-square
                            li: a: i.fa.fa-pinterest
                            li: a: i.fa.fa-twitter
                            li: a: i.fa.fa-facebook
                            
        +footer()
            
        .scroll-top
            a
                i.fa.fa-chevron-up
                
        a(data-scroll-goto="0").hidden
            
                    
        script(type="text/javascript" src="assets/scripts/jquery-1.11.3.min.js")
        script(type="text/javascript" src="assets/scripts/jquery.easing.1.3.js")
        script(type="text/javascript" src="assets/scripts/jquery.animate-enhanced.min.js")
        script(type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false")
        script(type="text/javascript" src="assets/scripts/scrollIt.min.js")
        script(type="text/javascript" src="assets/scripts/jquery.scrollSpeed.js")
        script(type="text/javascript" src="assets/scripts/owl.carousel.min.js")
        script(type="text/javascript" src="assets/scripts/functions.js")